<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>MyFitness :: Lezioni</title>
  </head>
  <body class="bg-[#f0efed] p-[20px]">
  	
  	<div class="bg-white shadow-xl p-[20px]">
  		<h1 class="font-bold" th:text="${titolo}"></h1>
  		<p th:text="${descrizione}"></p>
  		<p onclick="goTo('../../app/lezioni')" class="border-[#110e5e] border-2 cursor-pointer text-[12px] bg-black hover:bg-[#f2f2f2] hover:border-[#f2f2f2] hover:text-black p-[4px] text-white mt-[10px] mb-[10px] w-[35px] rounded-[4px] shadow-xl">ESCI</p>
  		<iframe th:src="${url}" class="mt-[10px] w-[100%] h-[80vh]">
  		</iframe>
  		
  	</div>
  	
  	<!-- JavaScript -->
  	<script th:src="@{/js/dashboard.js}"></script>
  	
  </body>
</html>